{{##def.page_title = 'Register' #}}

{{##def.content:
<script type="text/javascript">
  window.onload = function () {
    if (document.getElementById('confirmation') !== null) {
      document.getElementById('confirmation').onchange = validatePassword;
      document.getElementById('password').onchange = validatePassword;
    }
  };
  function validatePassword() {
    var password = document.getElementById('password').value;
    var confirm = document.getElementById('confirmation').value;
    console.log(password, confirm);
    if (password != confirm) {
      console.log('not equals');
      document.getElementById('confirmation').setCustomValidity("Confirmation and password should be the same");
    } else document.getElementById("confirmation").setCustomValidity('');
  }
</script>
<div class="panel auth-con content-body">
  <form action="/register" method="post">
    <h5>Create a new account <small><a href="login">Already have one?</a></small></h5>
    <hr>
    <div class="field">
      <label>Username</label>
      <input type="text" name="user[name]" value="{{?it.values}}{{!it.values.name}}{{?}}" autocomplete="off" pattern="[A-Za-z0-9_\-]{3,16}" title="Username only allowed alphanumeric, hyphen and underscore" required />
    </div>
    <div class="field">
      <label for="email">Recovery Email (Optional)</label>
      <input type="email" id="email" value="{{?it.values}}{{!it.values.email}}{{?}}" name="user[email]" autocomplete="off"/>
    </div>
    <div class="field">
      <label>Password</label>
      <input id="password" type="password" value="{{?it.values}}{{!it.values.password}}{{?}}" name="user[password]" autocomplete="off" pattern=".{7,200}" title="Password should be at least 7 characters"/>
      <small>Pick something secure, at least 7 characters</small>
    </div>
    <div class="field">
      <label>Confirm Password</label>
      <input id="confirmation" type="password" value="{{?it.values}}{{!it.values.confirm}}{{?}}" name="user[confirm]" autocomplete="off" pattern=".{7,200}" data-equal-id="password" required=""/>
    </div>
    <input class="button green" type="submit" value="Register"/>
  </form>
</div>
#}}
{{#def.include('./template/main')}}