{{##def.page_title = 'Request Free Bits' #}}

{{##def.content:

<div class="settings content-body">
  <ul class="menu">
    <li class="active">Account</li>
    <li><a href="/deposit">Deposit</a></li>
    <li><a href="/withdraw">Withdraw</a></li>
    <li><a href="/support">Support</a></li>
    <li><a onclick="logout();">Logout</a></li>
  </ul>

  <div class="panel">
    <h5>Request Free Bits</h5>
    <hr>
    {{?typeof it.user.eligible !== 'number'}}
      <p class="small ">Every hour you are able to request 5 free bits, just claim them!</p>
      <form class="giveaway-form" action="/request" method="post">
        <script type="text/javascript">
          var RecaptchaOptions = {
            theme : 'white'
          };
        </script>
        <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k={{=it.recaptchaPublicKey}}"></script>
        <div class="field">
        </div>
        <input class="button" type="submit" value="Request"/>
      </form>
    {{??}}
      <h4>You will be eligible for a free 5 bits in {{=it.user.eligible}} minutes</h4>
    {{?}}
  </div>
</div>
#}}

{{#def.include('./template/main')}}