{{##def.page_title = 'Play' #}}

{{##def.content:
  <div id="game" class="wrapper">
    <div class="loading">Game Loading...</div>
  </div>
  <!--Global vars-->
  <script>
    // TODO:
    //  var OTT =  {{=it.ott}};
  </script>
  <!--RequireJs-->
  <script data-main="../scripts/main" src="../scripts/lib/require.js"></script>
#}}
{{#def.include('./template/main')}}