{{##def.page_title = 'User Stats' #}}

{{##def.content:
  <div class="panel content-body">
    <h4>Player:
      {{?it.user && it.stats.username == it.user.username}}
        <strong>
          <a href="/account">{{=it.stats.username }}</a>
        </strong>
      {{??}}
         <strong> <b>{{=it.stats.username}}</b></strong>
      {{?}}
    </h4>
    <div id="statistics">
      <div class="columns data">
        <b>Games Played </b>
        <h6>{{=it.stats.games_played}}</h6>
      </div>
      <div class="rank columns data">
        <b><a href="/leaderboard">Rank </a></b>
        <h6>{{=it.stats.rank}}</h6>
      </div>
      <div class="columns data">
        <b>Gross Profit <a href="/faq#gross-profit">?</a></b>
        <h6>{{#def.format: { n: it.stats.gross_profit, decimals: 2} }} bits</h6>
      </div>
      <div class="columns data">
        <b>Net Profit</b>
        <h6>{{#def.format: { n: it.stats.net_profit, decimals: 2} }} bits</h6>
      </div>
    </div>
    <hr>
    {{? it.showing_last}}
      <h4>Showing game {{= it.games_from}} to {{= it.games_to}}</h4>
    {{??}}
      <h4>Showing last {{= it.games_to - it.games_from + 1}} games</h4>
    {{?}}

    <div id="chartdiv" style="width: 100%; height: 400px;"></div>

    {{? it.previous_page }}
    <a href="?p=1" class="button">First</a>
    <a href="{{= it.previous_page }}" class="button">Previous</a>
    {{?}}

    {{? it.next_page }}
    <div class="float-right">
      <a href="{{= it.next_page }}" class="button">Next</a>
      <a href="{{= it.stats.username }}" class="button">Last</a>
    </div>
    {{?}}


    <script src="/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/amcharts/serial.js" type="text/javascript"></script>
    <script src="/amcharts/custom.js" type="text/javascript"></script>
    <script>
      CustomChart({{= it.games_from}}, {{= it.net_profit_offset}}, {{=JSON.stringify(it.plays)}});
    </script>

  </div>
#}}
{{#def.include('./template/main')}}