@import 'normalize.css'
@import 'fonts'
@import 'bootstrap'
@import 'header'
@import 'static'
@import 'space'

body
  background #181a1f

.index
  color #fff
  height 100%
  padding-bottom 40px

  .hero-unit
    text-align center
    padding 60px 0 80px 0
  .title
    margin-bottom 10px
    text-shadow 1px 2px 0 #181a1f
    font-size 55px
  .faucet
    margin-bottom 40px
    color #bbbcbd
    font-size 18px
    font-weight 300
    em
      font-style normal
      color #33ac0e
      text-shadow 0 0 5px #298a0b
    
  .cta
    border-radius 5px
    display inline-block
    background-image linear-gradient(transparent,rgba(#000,.15))
    user-select(none)
    font-weight 600
    padding 0 50px
    border 0
    text-transform uppercase
    font-size 32px
    height 80px
    line-height 80px
    background-color #f7941f
    box-shadow inset 0 1px 0 rgba(#fff,.05), inset 0 -1px 0 rgba(#fff,.05), 0 1px 2px rgba(#000,.3)
    color #fff
    border-bottom 2px solid #8e5322
    text-shadow 1px 1px 0 #8e5322
    &:active
      top 1px
      position relative      
    &:hover
      background-color lighten(#f7941f,10%)

.stats
  margin 0px auto 60px auto
  border-radius 3px
  text-align center
  white-space nowrap
  width 80%
  clearfix()
  .stat
    width 100%
    padding 5px 10px
    background rgba(#000,.3)
    box-shadow inset 0 1px 1px rgba(#000,.2)
    border-radius: 3px
    display: inline-block
    margin-right: 20px
    white-space: nowrap
    font-weight: bold
    margin: 0
    line-height: 28px
    font-size: 16px
  .stat-wrapper
    width 33.3%
    padding 0 5px
    float left
    &:first-child
      padding-left 0
    .amount
      color #f7941f
      margin-right 5px
      font-size 20px
    .label
      color #fff
      text-transform uppercase
      font-size 13px
      color #bbbcbd

.features
  clearfix()
  margin 0 auto 60px auto
  width 80%
  .feature-wrap
    float left
    width 25%
    padding 0 5px
    &:first-child
      padding-left 0
  .feature
    padding 30px
    width 210px
    height 210px
    border-radius 200px
    background rgba(0,0,0,0.3)
    box-shadow: inset 0 1px 1px rgba(#000,0.2)
    text-align center
    img
      width 30px
      height 30px
      margin-bottom 3px
    h2
      margin 0 0 5px 0
      font-size 20px
    p
      margin 0
      font-size 16px
      line-height 22px
      color #bbbcbd

.footer
  border-top 1px solid #292d35
  box-shadow 0 -1px 0 rgba(0,0,0,0.3)
  padding 15px
  margin 0 auto
  width 80%
  font-size 15px
  p
    float left
    color #fff
  nav
    float right
  li
    margin-left 15px
  a
    color #fff

.auth-con
  width 600px