table
  width 100%
  text-align center
  border 1px solid #b1b8c2
  background #fff
  thead
    background #CFD2D3
    border 1px solid #b1b8c2
    tr
      th
        font-size: 15px
        font-weight: bold
        padding: 10px
        display table-cell
        color: #222222
  tbody
    tr
      &:nth-of-type(even)
        background #f9f9f9
      td
        display table-cell
        padding: 10px
        font-size: 15px
        color: #222222

.content 
  color #222
  position relative
  width 100%
  font 14px "Verlag A","Verlag B","Helvetica Neue",Helvetica,Arial,sans-serif

.center
  text-align center

.content-body
  margin 40px auto
  max-width 62.5rem
  width 100%
  color #222

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 15px 0 20px
  height: 0

.panel
  margin-bottom 40px
  padding 1.25rem
  font-size 1rem
  border-radius 5px
  background #f2f2f2
  clearfix()
  &.radius
    border-radius 5px

  h1, h2, h3, h4, h5
    line-height: 1
    margin-bottom: 0.625rem

  h3
    font-size 1.6875rem
  h5
    font-size 18px
    height 30px
    line-height 30px
    margin 0

  p
    font-family: inherit
    font-weight: normal
    font-size: 1rem
    line-height: 1.6
    margin-bottom: 10px
    text-rendering: optimizeLegibility

.side-nav
  display: block
  margin: 0
  padding: 0.875rem 0
  list-style-type: none
  list-style-position: outside
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
  li
    margin: 0 0 0.4375rem 0
    font-size: 0.875rem

.columns
  position relative
  float left

.large-3
  width: 25%
.large-9
  width: 75%

.faq-nav li a
  padding: 1px
  margin 0
  display block
  margin-bottom: 5px
  color: #353535
  font-weight: 500

.up-bt
  font-size 16px
  font-weight bold

code
  font-family: Consolas,"Liberation Mono",Courier,monospace
  font-weight: bold
  color: #bd260d

.settings
  width 100%
  .panel
    border-radius 0 0 5px 5px
  .menu
    list-style none
    margin 0
    overflow hidden
    border-radius 5px 5px 0 0
    clearfix()
    li
      float left
      padding 10px
      background #292d35 url("/img/header-bg.png")
      width 20%
      text-align center
      color #fff
      text-transform uppercase
      font-size 13px
      font-weight bold
      border-left 1px solid rgba(#000,.15)
      box-shadow: inset 1px 0 0 rgba(#fff,.03)
      &.active
        background #f2f2f2
        color #222
        box-shadow none
        border 0
      &:first-child
        box-shadow none
        border 0
      &:hover
        a 
          color #e58929
      a
        display block
        color #fff
        cursor pointer

label
  margin-bottom 5px
  display block
.field
  margin-bottom 15px

#statistics
  border-radius 5px
  background #cfd2d7
  border 1px solid #b1b8c2
  clearfix()
  .data
    text-align center
    padding 15px 10px
    border-right 1px solid #b1b8c2
    box-shadow 1px 0 0 rgba(#fff,.3)
    &:last-child
      border 0
      box-shadow none
    h6
      font-size 18px
      color #2e333b
    b
      text-transform uppercase
      display block
      font-size 13px
      color #6a717a
      margin-bottom 5px

  .columns
    width 25%
